*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    color: #333;
    text-align: center;
}

header {
    background-color: #e6e6e6;
    padding: 20px 0;
}

header h1 {
    margin: 0;
    font-size: 36px;
}
header p{
    margin-bottom: 30px;
}



.en-tete{
    display: flex;
    margin-left: 30px;
    
}
.en-tete nav a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}
.conteiner-img {
    margin: 0px auto;
    max-width: 1200px;
    height: 300px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
}

img {
    width: 550px;
    height: 250px;
    border-radius: 8px;
}

.conteiner-img figcaption {
    margin-top: 10px;
    font-size: 0.9em;
    color: #666;
}

.main-cont {
    margin: 30px auto;
    max-width: 800px;
    background-color: #e6e6e6;
    padding: 20px;
    border-radius: 8px;
}
.main-cont h2{
    margin-bottom: 50px;
}
.main-cont ul{
    margin-bottom: 50px;
}
.main-cont ul li{
    text-align: justify;
    margin-left: 100px;
    margin-top: 15px;

}
.main-cont ul li span{
    font-weight: bolder;

}



footer {
    margin-top: 20px;
}

footer button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s ease;
}

footer button:hover {
    background-color: #555;
}
